<%- include("../../partials/template") %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <form action="/update_password" class="user" method="POST">
                            <div class="form-group row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <label for="password">Password</label>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <label for="re_pass">Re-enter Password</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="re_pass"
                                        placeholder="Re-enter Password">
                                </div>
                            </div>
                            <input type="hidden" name="emp_code" value="<%= emp_code %>">
                            <div class="row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <button type="submit" id="submit" class="btn btn-primary btn-user btn-block">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer") %>
        <script>
            $('#submit').on('click', () => {
                var pass = $("#password").val();
                var re_pass = $("#re_pass").val();
                if (pass === re_pass) {
                    return true;
                } else {
                    alert('Password not matched');
                    return false;
                }
            })
        </script>